$color-1: #000000;
$color-2: #ffffff;
$color-3: #ffce00;
$background-page: url("../images/wall_page.jpg");
$background-banner: url("../images/wall_banner.png");
$border-radius-unit: 12px;
$font-custom: "Bogart";