@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    box-sizing: border-box;
}



.contenedor {
    display: grid;
    width: 100%;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3rem auto 6rem;

    grid-template-areas: "header   header"
        "sec     sec"
        "footer   footer";
}

.contenedor div {
    color: white;
    padding: 2px;
}

.head {
    grid-area: header;
}

.sector {
    background: #ffffff;
    grid-area: sec;
}

.foot {
    background: linear-gradient(to right, #000000, #1c0a1c);
    font-size: small;
    font-weight: 400;
    color: aliceblue;
    padding: 1rem;
    grid-area: footer;
}

.navbar {
    background: linear-gradient(to right, #000000, #1c0a1c);
}

.rowSector {
    display: flex;
    flex-wrap: row;
    box-sizing: border-box;
    padding: 2rem 10rem 2rem 10rem;
    text-align: center;
    margin: 4px 4px 4px 4px;
    align-items: flex-start;

}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto;
    gap: 2px;
    justify-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    grid-row-gap: 2rem;
    padding-top: 1rem;
}

.gridSector {
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 300px;
    width: 300px;
    overflow: hidden;
    border-radius: 25px;
    margin: 1em;
} 

.gridContainer-animation{
    transition: ease-in-out 1.5s;
}

.gridContainer-animation:hover{
    transform: scale(1.2) translateY(10px);
}

.piePagina {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 2px;
}

main {
    padding: 4%;
}

main h1 {
    color: black;
    font-weight: 500;
    padding: 6px;
    text-align: center;
    padding: 1rem;
}

main h2 {
    color: black;
    font-weight: 500;
    padding: 6px;
}

main h3 {
    color: black;
    font-weight: 500;
    padding: 6px;
}

main h4 {
    color: black;
    font-weight: 500;
    padding: 6px;
}

main p {
    color: rgb(43, 44, 44);
    font-weight: 400;
    padding: 6px;
}

form label {
    width: 72px;
    font-weight: 500;
    display: inline-block;
    color: black;
}

form input[type="text"],
form input[type="email"] {
    width: 180px;
    padding: 3px 10px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 8px 0;
    display: inline-block;
}

.contentStrech {
    margin-right: 2rem;
    max-width: 80%;
}

.imgScale {
    height: 100%;
    width: 100%;
}

.redScale {
    margin-left: 6px;
    margin-right: 6px;
    height: 30px;
    width: 30px;
}

.redScale:hover {
    -webkit-filter: invert(1);
    filter: invert(1);
}


:root {
    --link-1: #000000;
    --link-2: rgb(255, 255, 255);
}


.animation-box {
    animation: slide-up 0.9s cubic-bezier(0.65, 0, 0.35, 1) 
  }
  
  @keyframes slide-up {
    0%{
      transform: translateY(100px);
      opacity: 0.1;}
    100%{
      transform: translateY(0);
      opacity: 1;}
  }



@media only screen and (min-width: 320px) and (max-width: 844px) and (orientation: portrait) {

    .contenedor {
        grid-template-rows: 2rem auto 6rem;
    }

    .gridContainer {
        grid-template-columns: repeat(2, 1fr);
    }

    .gridSector {
        height: 150px;
        width: 150px;
    }

    .rowSector {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        text-align: center;
        align-items: center;
        margin: 4px 4px 4px 4px;
        padding: 1rem 3rem 1rem 3rem;
    }

    iframe {
        width: 100%;
        height: 400px;
    }

    form {
        width: 100%;
        height: 400px;
        padding: auto;
        border-radius: 10px;
        margin: auto;
        background-color: rgb(255, 255, 255);
        margin-top: 1rem;
    }

    .contentStrech {
        margin-right: 0rem;
        max-width: auto;
    }
}

